<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CoreV1Db"
			 connectionString="Server=.\SQLEXPRESS;Database=Core_DB;Integrated Security=true;TrustServerCertificate=true;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
